@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    margin:auto;
    width: 100%;
}
.card{
    margin:10px;
}
.Porc{
    display:flex;
}
.cont{
    width: 75%;
    justify-items: center;
    margin:auto;
}
.text1{
    text-align: center;
}